#editForm {
margin:auto;
margin-top: 100px;
background-color: rgb(250, 250, 250);
padding: 30px 40px;
border-radius: 8px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
gap: 10px;
width: 500px;
}

label {
font-size: 16px;
margin-bottom: 5px;
}

#nameBN,#emailBN,#passwordBN {
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 14px;
outline: none;
}

#nameBN:focus,#emailBN:focus,#passwordBN:focus {
border-color: #007BFF;
}

.submitBtn,.cancelBtn{
margin-top: 6px;
background-color: #3e5975;
color: white;
border: none;
padding: 18px 14px;
border-radius: 6px;
font-weight: 600;
font-size: 15px;
width: 32%;
cursor: pointer;
align-self: center;
transition: transform 0.5s ease, background-color 0.4s ease;
}

.submitBtn:hover,.cancelBtn:hover {
background-color: #36669a;
transform: scale(1.03);
}

.submitBtn:disabled, .cancelBtn:disabled{
transform: none !important;
background: #4f5358;
cursor: not-allowed;
}

#btnDiv{
  display: flex;
  justify-content: space-between;
}

h1 {
text-align: center;
font-weight: 600;
font-size: 20px;
color: #1b3a59;
margin: 0px;
}
.info{
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
}

#message {
position: unset;
text-align: center;
margin-top: 10px;
color: red;
font-weight: 500;
font-size: 16px;
line-height:125%;

}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#rotate {
display: inline-block;
animation: spin 1.5s linear infinite;
scale: 1.3;
}

*:disabled {background-color: #e4e4e4b6;}
*:disabled::placeholder {color: #434343b6;}

/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 30px;
height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 2px;
bottom: 2.4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
border-radius: 17px;
}

.slider.round:before {
border-radius: 90%;
}